# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Lexer compiled files
lex.yy
lex.yy.c
lex.yy.cc

# VIm swap files
*.swp

# Parser output files
madafaka_parser.output
madafaka_parser.tab.cc
madafaka_parser.tab.hh
stack.hh
